@model Vidly.Models.Customer

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div>
		<h2>Customer</h2>
		<hr />
		<dl class="dl-horizontal pull-left">
			<dt>
				@Html.DisplayNameFor(model => model.Id)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Id)
			</dd>
		</dl>
		<dl class="dl-horizontal pull-left">
			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
		</dl>
		@if (Model.Birthday != null)
		{
			<dl class="dl-horizontal pull-left">
				<dt>
					@Html.DisplayNameFor(model => model.Birthday)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Birthday)
				</dd>
			</dl>

		}


	</div>
<br />